{{#each posts as |post|}}

  <section data-id={{post._id}} class="post">
    <div class="post-header">
      <h4>{{post.owner}}</h4>
    </div>
    <div class="post-body">
      <p>{{post.createdAt}}</p>
      <h6>{{post.text}}</h6>
    </div>
    <div>
    </div>
  </section>

{{/each}}
