<!-- takes api data that's passed in. In this case 'posts' holds the data from the api -->
<!-- For each post with the api Data,
we will store the below HTML with the new Api Data within the returned variable -->
<!-- post is the current iteration of the api Data -->

<!-- data-id is set to the unqiue id of each post that is loaded -->
<!-- we are also limiting the number of characters included from post.createdAt
so that it has a more pleasing appearance. This will eventually be replaced by using moment.js
on the backend to format the createdAt before it reaches the clent.  -->
{{#each posts as |post|}}
  <section data-id={{post._id}} class="post">
    <div class="post-header">
      <h4>{{post.owner.nickname}}</h4>
    </div>
    <div class="post-body">
      <p>{{limit post.createdAt 10}}</p>
      <h6>{{post.text}}</h6>
    </div>
    <div>
    </div>
  </section>

{{/each}}
